.git
.github
.gitignore

.env
.env.*
!.env.example

venv
.venv
__pycache__
*.py[cod]

node_modules
npm-debug.log*

.pytest_cache
.mypy_cache

dist
build

*.md

temp/
media/
notes/
extensions/
core/static/uploads/*