.gitignore
__pycache__
*.db
.pytest_cache
env
instances/
tests/
test_dashboard_users.py
test.py
setup_test.py
extensions/
.env
venv
node_modules
core/static/css/styles.css
core/static/js/app.js
core/static/js/app.js.map
core/static/uploads/*
core/static/images/*
temp/
run_mysql.py
*_test.py
!core/stubs/extensions