.gitignore
__pycache__
*.db
.pytest_cache
env
instances/
test_dashboard_users.py
extensions/
.env
venv
node_modules
core/static/css/styles.css
core/static/js/app.js
core/static/js/app.js.map
core/static/uploads/*
core/static/images/*
!core/static/images/default-logo.png
temp/
run_mysql.py
!tests/test_*.py
!core/stubs/extensions
media/
core/static/css/themes/*
notes/
.ruff_cache/
.vscode/