<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600&family=Playfair+Display:wght@700&display=swap" rel="stylesheet"/>
        <script defer src="{{ url_for('static', filename='js/app.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body class="grid-bg">
        {% block content %}{% endblock %}
        {% block javascript %}{% endblock %}
    </body>
</html>