{% extends "dashboard/base.html" %}
{% block title %}{{ g.settings['site_title'] }} - User{% endblock %}
{% block main %}
<div class="fd-dashboard-page-xs">
	<div class="fd-card">
		<div class="fd-card-header">
			<h3 class="fd-card-title">Create User</h3>
			<p class="fd-card-subtitle">Create a brand new user and add them to this site.</p>
		</div>
		<form method="POST" class="fd-card-body">
			{{ form.hidden_tag() }}
			<div class="fd-create-user-form-grid"> 
                {% for field in form %} 
                    {% if field.name != "csrf_token" %} 
						<div>
                            {{ field.label(class="fd-form-label") }}
                            {{ field(class="fd-input") }}
							{% if field.errors %}
								{% for error in field.errors %}
									<div class="fd-error-message">
										{{ error }}
									</div>
								{% endfor %}
							{% endif %}
                        </div> 
                    {% endif %} 
                {% endfor %} 
            </div>
			<div class="fd-card-buttons">
				<button type="submit" class="fd-btn fd-btn-w-icon fd-btn-secondary fd-btn-sm">
					<svg class="fd-icon-xs" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
					</svg> 
                    Create User 
                </button>
				<button type="reset" class="fd-btn fd-btn-outline fd-btn-sm">Reset</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}