{% extends "dashboard/base.html" %}
{% block title %}{{ g.settings['site_title'] }} - Extensions{% endblock %}
{% block main %}
    <div class="w-full border border-gray-200 rounded-lg p-4 bg-white shadow-sm max-w-4xl mx-auto">
        <div class="space-y-8 text-zinc-800">
            <div x-data="{show_upload_extension: false}">
                <div class="border-b border-gray-200 pb-2 md:flex md:items-center md:justify-between md:space-y-0 space-y-2">
                    <div class="block">
                        <h4 class="text-lg">Manage Extensions</h4>
                        <p class="text-gray-400 text-sm">Customize and enhance system extensions to improve functionality.</p>
                    </div>
                </div>
                <div class="my-4 space-y-4">
                    <div class="border border-gray-200 rounded">
                        <table class="w-full">
                            <thead>
                                <tr class="bg-gray-50 border-b border-gray-200">
                                    <th class="text-left font-normal text-sm text-gray-400 py-2 px-4 rounded-tl">Name</th>
                                    <th class="text-left font-normal text-sm text-gray-400 py-2 px-4">Description</th>
                                    <th class="text-left font-normal text-sm text-gray-400 py-2 px-4 rounded-tr">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if extensions %}
                                    {% for extension in extensions %}
                                    <tr class="text-sm border-t border-gray-200">
                                        <td class="py-2 px-4">{{ extension['name'] }}</td>
                                        <td class="py-2 px-4">
                                            <p class="line-clamp-4 text-gray-500">{{ extension['description'] }}</p>
                                        </td>
                                        <td class="py-2 px-4">
                                            <button class="btn">Manage</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="3" class="text-center py-2">
                                            <p class="text-gray-500">No Extensions Found</p>
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}