{% extends "dashboard/base.html" %}
{% block title %}{{ g.settings['site_title'] }} - Files{% endblock %}
{% block main %}
    <div class="w-full border rounded-lg p-4 bg-white shadow-sm max-w-6xl mx-auto" x-data="{model_open: false}">
        <div class="space-y-8 text-zinc-800">
            <div class="space-y-4">
                <div class="border-b pb-2 flex items-center justify-between">
                    <div class="block">
                        <h4 class="text-lg">Manage Uploads</h4>
                        <p class="text-gray-400 text-sm">Manage and update uploaded files.</p>
                    </div>
                </div>
                <form method="POST" class="flex">
                    <input type="file" class="w-full file:border-0 file:bg-gray-200 file:text-sm file:px-2 file:py-1 file:rounded-s file:mr-4 border rounded-s cursor-pointer text-sm">
                    <button class="border px-4 py-1 rounded-e text-sm bg-gray-50 hover:bg-gray-100 ease duration-200">Upload</button>
                </form>
                <div>
                    <div class="border rounded">
                        <table class="w-full ">
                            <thead>
                                <tr class="bg-gray-50 border-b">
                                    <th class="text-left font-normal text-sm text-gray-400 p-2 rounded-tl">Filename</th>
                                    <th class="text-left font-normal text-sm text-gray-400 p-2">Date Added</th>
                                    <th class="text-left font-normal text-sm text-gray-400 p-2">Link</th>
                                    <th class="text-left font-normal text-sm text-gray-400 p-2 rounded-tr">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for role in roles %}
                                <tr class="text-sm border-t">
                                    <td class="p-2">{{ role.name }}</td>
                                    <td class="p-2">{{ role.description }}</td>
                                    <td class="px-2 py-4">
                                        <a href="{{ url_for('core.delete_role', role_uid = role.uid) }}" class="text-sm rounded px-2 py-1 rounded border shadow text-gray-700 hover:bg-gray-50 ease duration-200 {% if role.name in default_roles %}pointer-events-none opacity-80{% endif %}">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <form method="POST" x-show="model_open" x-transition class="fixed inset-0 flex items-center justify-center z-50">
            <div @click="model_open = false" class="absolute inset-0 bg-black bg-opacity-50"></div>

            <div @click.away="model_open = false" class="relative bg-white rounded-lg shadow-lg w-full max-w-md z-50">
                <div class="w-full p-4" id="model-header">
                    <h1 class="text-lg">Create Role</h1>
                </div>
                <div class="p-4 border-y">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem accusantium laboriosam maiores sunt placeat enim magnam eius error vero debitis vitae facere voluptates, tenetur omnis, porro voluptatibus, eum voluptate aliquid?</p>
                </div>
                <div id="modal-footer" class="p-4">
                    <p>Hello</p>
                </div>
            </div>
        </form>
    </div>
    
{% endblock %}