{% extends "dashboard/base.html" %}
{% block title %}{{ g.settings['site_title'] }} - Manage Extension{% endblock %}
{% block main %}
<div class="fd-dashboard-page-md">
	<div class="fd-card">
		<div class="fd-card-header">
			<div>
                <h3 class="fd-card-title">{{ extension.name }}</h3>
                <p class="fd-card-subtitle">{{ extension.description }}</p>
			</div>
		</div>
		<div class="fd-card-body">

			<div class="fd-list-group-item">
				<p class="fd-list-group-item-header">Name</p>
				<p class="fd-list-group-item-value">{{ extension.name }}</p>
			</div>
			<div class="fd-list-group-item">
				<p class="fd-list-group-item-header">Description</p>
				<p class="fd-list-group-item-value">{{ extension.description }}</p>
			</div>
			<div class="fd-list-group-item">
				<p class="fd-list-group-item-header">Version</p>
				<p class="fd-list-group-item-value">{{ extension.version }}</p>
			</div>
			<div class="fd-list-group-item">
				<p class="fd-list-group-item-header">Author</p>
				<p class="fd-list-group-item-value">{{ extension.author }}</p>
			</div>
			<div class="fd-list-group-item">
				<p class="fd-list-group-item-header">Dependencies</p>
				<p class="fd-list-group-item-value">{{ extension.dependencies | join(', ') if extension.dependencies else 'None' }}</p>
			</div>
			<div class="fd-list-group-item">
				<p class="fd-list-group-item-header">URL Prefix</p>
				<p class="fd-list-group-item-value">{{ extension.url_prefix if extension.url_prefix else '/' }}</p>
			</div>
			<div class="fd-list-group-item">
				<p class="fd-list-group-item-header">Static Folder</p>
				<p class="fd-list-group-item-value">{{ extension.static_folder }}</p>
			</div>
			<div class="fd-list-group-item">
				<p class="fd-list-group-item-header">Template Folder</p>
				<p class="fd-list-group-item-value">{{ extension.template_folder }}</p>
			</div>
		</div>
	</div>
	
</div>
{% endblock %}