{% extends "dashboard/base.html" %}
{% block title %}{{ g.settings['site_title'] }} - Settings{% endblock %}
{% block main %}
<div class="fd-dashboard-page-xs">
	{% for category in categories %}
	<div class="fd-card">
		<div class="fd-card-header">
			<h3 class="fd-card-title">{{ category.nice_name }}</h3>
			<p class="fd-card-subtitle">{{ category.description }}</p>
		</div>
		
		<form method="POST" class="fd-card-body" enctype="multipart/form-data">
            {% for field in forms[loop.index0] %} 
                {% if field.name == "csrf_token" %} 
					{{ field(class="hidden") }}
				{% else %}
					<div class="fd-settings-row">
						<div>
							<label for="{{ field.id }}" class="fd-settings-title">{{ field.label.text }}</label>
							<p class="fd-settings-description">{{ field.description }}</p>
							<ul>
								{% for error in field.errors %}
								<li class="fd-settings-error">{{ error }}</li>
								{% endfor %}
							</ul>
						</div>
						<div>
							{{ field }}
						</div>
					</div> 
                {% endif %} 
            {% endfor %} 
            <div class="fd-card-buttons">
				<button type="submit" class="fd-btn fd-btn-secondary fd-btn-sm fd-btn-w-icon">
					<svg class="fd-btn-icon" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
					</svg> Save Changes 
				</button>
				<button type="reset" class="fd-btn fd-btn-outline fd-btn-sm">Reset</button>
			</div>
		</form>
	</div>
	{% endfor %}
</div>
{% endblock %}