{% extends "dashboard/base.html" %}
{% block title %}{{ g.settings['site_title'] }} - Themes{% endblock %}
{% block main %}
<div class="fd-dashboard-page-md">
	<div class="fd-card">
		<div class="fd-card-header">
			<div>
				<h3 class="fd-card-title">Manage Themes</h3>
				<p class="fd-card-subtitle">Customize and enhance system themes to improve the user experience.</p>
			</div>
		</div>
		<div class="fd-table-container">
			<table class="fd-table">
				<thead>
					<tr class="fd-table-header-row">
						<th>Name</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody class="fd-table-body"> 
                    {% for theme in themes %} 
                    <tr class="fd-table-row">
                        <td class="fd-table-col-primary fd-table-col fd-table-col-sm">
                            <div class="fd-table-col-flex">
                                <div class="fd-table-icon-container">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="fd-table-icon">
                                        <path d="M15.993 1.385a1.87 1.87 0 0 1 2.623 2.622l-4.03 5.27a12.749 12.749 0 0 1-4.237 3.562 4.508 4.508 0 0 0-3.188-3.188 12.75 12.75 0 0 1 3.562-4.236l5.27-4.03ZM6 11a3 3 0 0 0-3 3 .5.5 0 0 1-.72.45.75.75 0 0 0-1.035.931A4.001 4.001 0 0 0 9 14.004V14a3.01 3.01 0 0 0-1.66-2.685A2.99 2.99 0 0 0 6 11Z" />
                                    </svg>
                                </div>
                                <span>{{ theme }}</span>
                            </div>
                        </td>
                        <td class="fd-table-col fd-table-col-sm">
                            <a href="{{ url_for('core.view_theme', name=theme) }}">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="fd-table-action-btn">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                </svg>
                            </a>
                        </td>
                    </tr> 
                    {% else %} 
                    <tr>
                        <td colspan="3" class="fd-table-no-data">No themes found.</td>
                    </tr> 
                    {% endfor %} 
                </tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}