{% extends "dashboard/base.html" %}
{% block title %}{{ g.settings['site_title'] }} - Users{% endblock %}
{% block main %}

<div class="fd-dashboard-page-sm">
    <div class="fd-card">

        <div class="fd-card-header fd-card-header-w-btn">
            <div>
                <h3 class="fd-card-title">Manage Users</h3>
                <p class="fd-card-subtitle">Add, create, and manage user information.</p>
            </div>
            <a href="{{ url_for('core.create_user') }}" class="fd-btn fd-btn-secondary fd-btn-sm fd-btn-w-icon">
                <svg class="fd-btn-icon" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4"/>
                </svg>
                Create User
            </a>
        </div>

        <div class="fd-table-container">
            <table class="fd-table">
                <thead>
                    <tr class="fd-table-header-row">
                        <th>Username</th>
                        {% if g.settings['allow_first_name_last_name'] == "1" %}
                        <th>Name</th>
                        {% endif %}
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="fd-table-body">
                    {% for user in users %}
                    <tr class="fd-table-row">
                        <td class="fd-table-col-md fd-table-col-primary">
                            <div class="fd-table-user-profile">
                                <img src="{{ url_for('static', filename='images/profiles/' + user.profile_image) }}" class="fd-table-user-image" alt="User Avatar"/>
                                <span>{{ user.username }}</span>
                            </div>
                        </td>
                        {% if g.settings['allow_first_name_last_name'] == "1" %}
                        <td class="fd-table-col-md fd-table-col">
                            {{ user.firstname or "" }} {{ user.lastname or "" }}
                        </td>
                        {% endif %}
                        <td class="fd-table-col-md fd-table-col">{{ user.email }}</td>
                        <td class="fd-table-col-md fd-table-col">
                            <a href="{{ url_for('core.manage_user', user_uid=user.uid) }}">
                                <svg class="fd-table-action-btn" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/>
                                </svg>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</div>

{% endblock %}